body {
  background-image: url("checkerboard-cross.png");
}

.container {
  display: flex;
  background-color: brown;
  height: 500px;
  width: 720px;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.wrapper {
  background-color: aquamarine;
  display: flex;
  height: 500px;
  width: 100rem;
  margin: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}

.race {
  background-color: dimgray;
  height: 500px;
  width: 100rem;
  margin: auto;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  margin-bottom: 2rem;
}

.line {
  box-sizing: border-box;
  border: 5px dashed white;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 89rem;
}

.line img {
  width: 20rem;
}

.test {
  background-color: rgb(85, 236, 25);
  height: 100px;
  width: 300px;
  text-align: center;
  padding: 30px;
  transition: transform 2s;
}

.test:hover {
  transform: translateX(100%) rotate(360deg) scale(1);
  background-color: blue;
}

.test-1 {
  background-color: rgb(85, 236, 25);
  height: 100px;
  width: 300px;
  text-align: center;
  padding: 30px;
  transition: transform 2s;
}

.test-1:hover {
  transform: translateX(100%);
  background-color: red;
}

.test-2 {
  background-color: rgb(85, 236, 25);
  height: 100px;
  width: 300px;
  text-align: center;
  padding: 30px;
  transition: transform 2s;
}

.test-2:hover {
  transform: translateX(100%) rotateY(360deg);
  background-color: gray;
}

.wrapper img {
  max-width: 400px;
  max-height: 163px;
}

.test-4:hover {
  transform: scale(3);
  transition: transform 2s;
  animation-iteration-count: infinite;
}

.test-3:hover {
  transform: translateX(100%) rotate(360deg) scale(1);
  transition: transform 2s;
}

.test-5:hover {
  transform: translateX(-100%) rotate(360deg) scale(1);
  transition: transform 2s;
}

.car {
  animation-name: drive;
  animation-duration: 3s;
}

@keyframes drive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}
